{% extends 'base.html' %}


{% block content %}

<div class="card" style="width: 23rem;">
  <div class="card-body">
    <h5 class="card-title">About</h5>
    <h6 class="card-subtitle mb-2 text-muted">AQI Search Website</h6>
    <p class="card-text">This Website Provides the "Air Quality Index" and the corresponding description of it. By typing the specific city in the search box and hitting the search button the	necessary information is displayed in the page.</p>
    <!-- <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> -->
  </div>
</div>


{% endblock %}