{% extends 'base.html' %}
{% load static %}


{% block content %}

	{% if api %}
		{% if error == True %}

			<div class="alert alert-warning" role="alert">
			 	<h5>{{ er_msg_1 }}</h5>
		  		<h5>{{ er_msg_2 }}</h5>
			</div>

		{% else %}

			<div class="jumbotron">
			  	<div id="{{ status_color }}" style="text-align: center;">
					<h2>{{ status }}</h2>AQI : {{ api.data.aqi }}
				</div>
				<p class="lead"><br>Location : {{api.data.city.name}}</p>
			 	<hr class="my-4">
			  	<p id="desc">{{ description }}</p>
			  	
			</div>

		{% endif%}

	{% endif %}

{% endblock %}